@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (max-width: 640px) {
  .mobile-padding {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}